body{
    font-family: "Helvetica", arial, sans-serif; font-size: 16px;
    width: fit-content;
    margin: auto;
  }

a{
  color: skyblue
}

h1{
  color: hotpink;
  font-size: 72pt;
  width: fit-content;
  margin: auto;
  
  }

h1>a{
  color: hotpink;
  font-size: 72pt;
  width: fit-content;
  margin: auto;
  text-decoration: none;
}

h2{
  color: hotpink;
  font-size: 48pt;
}

h3{
  color: hotpink;
  font-size: 30pt;
}

h4{
  color: hotpink;
  width: fit-content;
  margin: auto;
  font-size: 20pt
}

header{
  width: fit-content;
  margin: auto;
}

ul{
  list-style-type: none;
}

.prefs-link {
  width: fit-content;
  margin: auto
}

#transaction-info{
  width: fit-content;
  margin: auto;
}

#change-tag{
  width: fit-content;
  margin: auto;
}

#new-form{
  width: fit-content;
  margin: auto;
}