{% extends 'base.html' %}

{% block content %}
    
<h2>Set Budget</h2>

    {% if budget %}

    <section>
        <p>Your budget is {{ budget.display_amount() }}</p>
        <form action="/budgets/{{budget.id}}/delete" method="POST">
            <button type="submit">Delete Budget</button>
        </form>
    </section>
    <br>

    <form action="/budgets/{{budget.id}}/change" method="post">

        <div>
            <label for="amount">Edit Budget</label>
            <input type="number"
                   step="0.01"
                   name="amount"
                   id="amount"
                   required
                   autofocus>
        </div>
        
        <button type="submit">Change budget</button>
        
     </form>


    {% else %}

    <form action="/budgets" method="post">

    <div>
        <label for="amount">Budget</label>
        <input type="number"
               step="0.01"
               name="amount"
               id="amount"
               required
               autofocus>
    </div>
    
    <button type="submit">Set budget</button>
    
    </form>
        
    {% endif %}

    

    

{% endblock content %}