{% extends 'base.html' %}
{% block content %}
    
<h2>Merchant Preferences</h2>

<ul>
    {% for merchant in merchants %}
    
    <section>
            <li>{{ merchant.name }} ({% if merchant.activated %}
                active
            {% else %}
                de-activated
            {% endif %})
            <form action="/merchants/{{merchant.id}}/delete" method="POST">
                <button type="submit">Delete Merchant</button>
            </form></li>
    </section>
        
     
    {% endfor %}
    
    </ul>

<h3>Add Merchant:</h3>

<form action="/merchants" method="post">

<div>
    <label for="name">Merchant</label>
    <input type="text"
           name="name"
           id="name"
           placeholder="name"
           required>
</div>

<button type="submit">Add Merchant</button>

</form>



{% endblock content %}