{% extends 'base.html' %}
{% block content %}
    
<h2>Merchant Preferences</h2>

<ul>
    {% for merchant in merchants %}
    
    <section>
            <li><a href="/merchants/{{merchant.id}}">{{ merchant.name }}</a> {% if merchant.activated %}
                (active)
                <form action="/merchants/{{merchant.id}}/deactivate" method="POST">
                        <button type="submit">Deactivate</button>
                </form>
            {% else %}
                (inactive)
                <form action="/merchants/{{merchant.id}}/activate" method="POST">
                        <button type="submit">Activate</button>
                </form>
            {% endif %}
            
            <form action="/merchants/{{merchant.id}}/delete" method="POST">
                <button type="submit">Delete Merchant</button>
            </form></li>
    </section>
        
     
    {% endfor %}
    
    </ul>

<h3>Add Merchant:</h3>

<form action="/merchants" method="post">

<div>
    <label for="name">Merchant</label>
    <input type="text"
           name="name"
           id="name"
           placeholder="name"
           required>
</div>

<button type="submit">Add Merchant</button>

</form>

<br>
<br>
<a href="/transactions">Return to Your Spendzo</a>



{% endblock content %}