{% extends 'base.html' %}

{% block content %}
    
<h2>{{merchant.name}} Spending</h2>

{% if merchant.activated %}
    <h4>(Active Merchant)</h4>

{% else %}

    <h4>(Inactive Merchant)</h4>
{% endif %}



{% for transaction in transactions %}

<section>
    <p><a href="/transactions/{{transaction.id}}">{{transaction.trans_time.strftime("%m/%d/%Y, %H:%M:%S")}}</a>: You spent {{ transaction.display_amount() }} on <a href="/tags/{{transaction.tag.id}}">{{transaction.tag.name}}</a></p>
</section>


{% endfor %}


<section>
    <p>Total spending at {{merchant.name}} is {{total}}</p>
</section>

<section class=prefs-link>
    <a href="/merchants">Merchant Preferences</a>
</section>


{% endblock content %}