{% extends 'base.html' %}

{% block content %}
    
<h1>Your Spendzo</h1>

{% for transaction in transactions %}

<section>
    <p>You spent £{{ transaction.amount }}0 on {{transaction.tag.name}} at {{transaction.merchant.name}}</p>
    <!-- This adding a 0 thing is very bad code, but I don't know how to fix decimals in html and it works for now so I'm leaving it there just now -->
</section>


{% endfor %}

<section>
    <p>Total spending = £{{total}}0</p>
    <!-- Again, a bad solution -->
</section>

<button><a href="/transactions/new">Add New Transaction</a></button>

{% endblock content %}