{% extends 'base.html' %}

{% block content %}
    
<h1>Your Spendzo</h1>


{% for transaction in transactions %}

<section>
    <p><a href="/transactions/{{transaction.id}}">{{transaction.trans_time.strftime("%m/%d/%Y, %H:%M:%S")}}</a>: You spent {{ transaction.display_amount() }} on <a href="/tags/{{transaction.tag.id}}">{{transaction.tag.name}}</a> at <a href="/merchants/{{transaction.merchant.id}}">{{transaction.merchant.name}}</a></p>
</section>


{% endfor %}

<section>
    <p>Total spending = {{total}}</p>
    <p>{{budget_alert}}</p>
</section>

<a href="/transactions/new">Add New Transaction</a>

{% endblock content %}