{% extends 'base.html' %}

{% block content %}
    
<h1>Add Transaction</h1>

<form action="/transactions" method="post">

<div>
    <label for="amount">Amount</label>
    <input type="number"
           step="0.01"
           name="amount"
           id="amount"
           required
           autofocus
           >
</div>

<div>
    <label for="merchants">Merchant</label>
    <select name="merchant_id" id="merhcant">
        <option value="">--Please choose a merchant</option>

        {% for merchant in all_merchants %}

            <option value="{{merchant.id}}">{{merchant.name}}</option>
            
        {% endfor %}
    </select>
</div>


<div>
    <label for="tags">Tag</label>
    <select name="tag_id" id="tag">
        <option value="">--Please choose a tag</option>

        {% for tag in all_tags %}
        
            <option value="{{tag.id}}">{{tag.name}}</option>
            
        {% endfor %}
    </select>
</div>

<button type="submit">Add Transaction</button>





</form>

{% endblock content %}