{% extends 'base.html' %}

{% block content %}

<h2>{{transactions[0].trans_time.strftime("%B %Y")}}</h2>

{% for transaction in transactions %}

<section>
    <p>{{transaction.trans_time.strftime("%d")}}
        <a href="/transactions/months/{{transaction.trans_time.strftime("%Y")}}/{{transaction.trans_time.strftime("%m")}}">{{transaction.trans_time.strftime("%B")}}</a>
        {{transaction.trans_time.strftime("%Y")}}, 
        <a href="/transactions/{{transaction.id}}">{{transaction.trans_time.strftime("%H:%M:%S")}}</a>
        : You spent {{ transaction.display_amount() }} on 
        <a href="/tags/{{transaction.tag.id}}">{{transaction.tag.name}}</a> at 
        <a href="/merchants/{{transaction.merchant.id}}">{{transaction.merchant.name}}</a>
    </p>
</section>
    
{% endfor %}

<br>
<section class=prefs-link>
    
    <a href="/transactions">Return to Your Spendzo</a>
</section>
    
{% endblock content %}