{% extends 'base.html' %}

{% block content %}

<h3>Transaction on {{transaction.trans_time.strftime("%m/%d/%Y")}} at {{transaction.trans_time.strftime("%H:%M:%S")}}</h3>

<section id=transaction-info>
    <p>Amount: {{transaction.display_amount()}}</p>
    <p>Merchant: <a href="/merchants/{{transaction.merchant.id}}">{{transaction.merchant.name}}</a></p>
    <p>Tag: <a href="/tags/{{transaction.tag.id}}">{{transaction.tag.name}}</a></p>
</section>

<form action="/transactions/{{transaction.id}}/change_tag" method="post">

    <div>
        <label for="tags">Tag</label>
        <select name="tag_id" id="tag">
            <option value="">--Please choose a new tag</option>
    
            {% for tag in all_tags %}
    
                {% if tag.activated == True %}
            
                    <option value="{{tag.id}}">{{tag.name}}</option>
    
                {% endif %}
                
            {% endfor %}
        </select>
    </div>
    
    <button type="submit">Change tag</button>
    
 </form>
    
{% endblock content %}